body,ul {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}
ul {
    list-style: none;
}
li {
    padding: 5px;
}
.nor a{
    text-decoration: none;
    font-size: 0.9rem;
    color: #444444;
}
.nor a:hover{
    text-decoration: underline;
    color: #999999;
}
header {
    position: fixed;
    top: 0px;
    width: 100%;
}
header ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
a {
    text-decoration: none;
}

form input{
    width: 460px;
    height: 40px;
    border: 1px solid #cecece;
    border-radius: 20px;
    margin-top: 20px;
    padding: 0px 12px;
    font-size: 20px;
}
form input:hover{
    box-shadow: 0 1px 6px 0 #cecece;
}
header ul li img {
    border-radius: 50%;
}
.main{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sbutton {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 36px;
}
.sbutton button:hover{
    box-shadow: 0 1px 6px 0 #808080;
}
.sbutton button{
    width: 170px;
     margin:0px 5px ;
     border: 0px solid white;
     border-radius: 7px;
     font-size: medium;
     color: #5e5e5e;
     -webkit-appearance: none;
}
.lang {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    
}
.lang ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}
hr {
    background-color:  #cecece;
}
footer{
    position: fixed;
    bottom: 0px;
    padding:15px;
    width: 100%;
    background-color: #f5f5f5;
    color: #5e5e5e;
}
.currLocation {
    padding: 10px 0px;
}

.foocon {
    border-top: 1px solid #cecece;
    display: flex;;
    justify-content: space-between;
    padding: 10px 0px;
}
.primary ul, .sec ul {
    display: flex;
    
}